body {
    padding: 50px;
    background-color: beige;
}
.titulo{
    font-style: italic;
    color: rgb(0, 174, 255)
}

.text{
    color: darkblue;
}

.remarcado{
    font-weight: bold;
    font-style: italic;
}

h1 {
    color: brown;
}

h1.fnt-red {
    color: red;
    }
    
.fnt-blue {
    color: blue;
    }
    
#nombre_alumno {
        color: red;
        text-decoration: underline;
    }
    
.white{
    color: white;
    font-size: 47px;
}

    .left{
     
        background-color: darkblue;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        text-align: center;
        display: inline-block;
        line-height: 60px;
        margin: 30px;
    
    }

    .center{
        background-color: darkblue;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        text-align: center;
        display: inline-block;
        line-height: 60px;
        margin: 30px;
    }

    .right{
        background-color: darkblue;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        text-align: center;
        display: inline-block;
        line-height: 60px;
        margin: 30px;
    }

    .menu{
        background-color: blue;
        text-align: center;
        width: 100%;
        position:fixed;
        top:0px;
    }

    .pie{
        background-color:red;
        text-align: center;
        width: 100%;
        position:fixed;
        bottom:0px;
    }

    .inicio{
        position: relative;
        top: 80px;
    }

   .tui{
       font-size:60px;
       color: white;
   }
    .ui{
        width: 100px;
        height: 100px;
        background-color: red;
        text-align: center;
        line-height: 135px;
    }
    .ud{
        width: 100px;
        height: 100px;
        background-color: green;
        text-align: center;
        line-height: 135px;
    }
    .di{
        width: 100px;
        height: 100px;
        background-color: blue;
        text-align: center;
        line-height: 135px;
    }
    .dd{
        width: 100px;
        height: 100px;
        background-color: black;
        text-align: center;
        line-height: 135px;
    }
    #il{
        display: inline-block;
    }
    .cui{
        width: 45%;
        text-align: right;
    }
    .cdi{
        width: 45%;
        text-align: right;
        margin-top: 4px;
    }
    .cud{
        width: 45%;
        text-align: left;
    }
    .cdd{
        width: 45%;
        text-align: left;
        margin-top: 4px;
    }
.bordegatos{
    padding: 4px;
    border: solid black 1px;
    text-align: center;
    line-height: 1px;
    background-color: beige;
}
.oldenburg {font-family: "Oldenburg", serif;}

div.oldenburg::first-letter{
    font-size:48px;
}
div.oldenburg::first-line{
    color:brown;
}
#centrado{
    text-align: center;
}
.ancho{
    text-align: right;
}
.campo{
    width: 1000px;
    text-align: left;
}

#tform{
    color: blue;
    font-weight: bold;
}
.izq{
    text-align: left;
    width: 100px;
    margin: 2px;
}
.dcha{
    text-align: right;
   
    margin: 2px;
}
.dcham{
    text-align: right;
 width: 100px;
    margin: 2px;
}
.sinstyle{
    list-style: none;
}
.moverderecha{
    margin-left: 35px;
}
#blanco{
    color: white;
}
